{% extends 'base.html.twig' %}

{% block title %}Bienvenue sur notre Blog
{% endblock %}

{% block body %}

	{# <pre>
		    {{ dump(articles) }}
		</pre> #}

	{% for message in app.flashes('success') %}
		<div class="col-md-5 mx-auto alert alert-success text-center">
			{{ message }}
		</div>
	{% endfor %}
	<div class="container d-flex justify-content-around flex-wrap">
		{% for article in articles %}
			<div class="card text-center mb-4" style="width: 25rem;">
				<img src="{{ article.image }}" alt="">
				<div class="card-body">
					<h5 class="card-title">{{ article.title }}</h5>
					<p class="card-text my-3">{{ article.content | slice(0,200) | raw }}</p>
				</div>
				<table class="table table-bordered">
					<tbody>
						<tr>
							<th scope="row">Ecrit le
								{{ article.createdAt | date('d/m/y')}}
                            </th>
							<th>
								<span class="badge rounded-pill text-bg-primary">{{ article.category.title | slice(0,20) }}</span>
							</th>
						</tr>
					</tbody>
				</table>
				<div class="card-footer">
					<a href="{{ path('show_blog', {"id" : article.id })}}" class="btn btn-primary">Lire la suite</a>
				</div>
			</div>
		{% endfor %}
	</div>
	{# On affiche le contenu de la variable "title" avec le moteur twig #}
	{# double accolades = interpolation #}


{% endblock %}
